[Unit]
Description=local system suspend actions
Before=root-suspend.service sleep.target

[Service]:
Type=oneshot
ExecStartPre= /home/steffen/bin/kill-kodi.sh -15 ; /home/steffen/bin/tvheadend-check-recording-logs.sh
ExecStart= /bin/systemctl stop tvheadend

[Install]
# This blocks suspend if tvheadend is recording
RequiredBy=sleep.target
# For non-blocking suspend use this 
#WantedBy=sleep.target

